<html>
<head>
  <meta charset="utf-8">
</head>
<title>Crud com Postgresql!</title>
<body>
  <form name="act" action="{{ url_for('adding')}}" method="POST">
    <p align="left">Digite o titulo em que deseja adicionar:
      <input type="text" placeholder="Example: O hobbit" required
                            name="title" />
      Digite o autor:
      <input type="text" placeholder="Example: J. R. R. Tolkien" required
                            name="author" />
      Digite o ano de publicação:
      <input type="text" placeholder="Example: 1937" required
                            name="year" />
    <input type="submit" value="Send" />
    </p>
</form>
  <h4> Total de {{ count }} registros!</h4>
  <h4> Livros registrados: </h4>
    {% if count == 0 %}
      Nenhum registro!
    {% endif %}
    <ul>
      {% for book in data %}
      <li> {{ book }} </li>
      <form method="POST" action="{{ url_for('updating') }}">
        Titulo: <input type="hidden" value="{{ book.title }}"
                                      name="old_title" />
        <input type="text" value=""
                            placeholder="Digite o novo valor para o titulo..."
                            name="new_title">
        Autor: <input type="hidden" value="{{ book.author }}"
                                      name="old_author" />
        <input type="text" value=""
                            placeholder="Digite o novo valor para o autor..."
                            name="new_author">
        Ano de publicação: <input type="hidden" value="{{ book.year }}"
                                      name="old_year" />
        <input type="text" value=""
                            placeholder="Digite o novo valor para o ano..."
                            name="new_year">
        <input type="submit" value="Update">
      </form>
      <form method="POST" action="{{ url_for('deleting') }}">
        <input type="hidden" value="{{ book.title }}" name="delete_title" />
        <input type="hidden" value="{{ book.author }}" name="delete_author" />
        <input type="hidden" value="{{ book.year }}" name="delete_year" />
        <input type="submit" value="Delete">
      </form>
      {% endfor %}
    </ul>
</body>
</html>
